body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background: #f2f2f2;
}

h1,
h2 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  background: white;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  box-shadow: 0px 0px 10px #ccc;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.form-box {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
  gap: 10px;
}

input,
select,
button {
  padding: 10px;
  font-size: 16px;
}

button {
  background: #3b82f6;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}
